/* media.css */

/* Base styles for all screen sizes */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    width: 80vw;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #DFF7F9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .header {
    background-color: #DFF7F9;
    color: #0E9298;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  
  .heading {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  .imageContainer {
    flex: 1 1 40%;
    padding: 10px;
  }
  
  .textContainer {
    flex: 1 1 50%;
    padding: 10px;
  }
  
  .subheading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0E9298;
  }
  
  .paragraph {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .article {
    text-align: left;
    margin: 20px 0;
  }
  
  .ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .li {
    margin-bottom: 10px;
  }
  
  .a {
    color: #0E9298;
    text-decoration: none;
  }
  
  .a:hover {
    text-decoration: underline;
  }
  
  .doctorMessageContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
  }
  
  .left {
    width: 60%;
    padding: 20px;
  }
  
  /* Responsive styles for small screens */
  @media (max-width: 600px) {
    .container {
      width: 100vw;
      margin: 10px;
      padding: 10px;
    }
  
    .content {
      flex-direction: column;
      align-items: center;
    }
  
    .imageContainer, .textContainer {
      flex: 1 1 100%;
      padding: 5px;
    }
  
    .doctorMessageContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .left, .right {
      width: 100%;
      padding: 10px;
    }
  
    .heading {
      font-size: 1.5rem;
    }
  
    .subheading {
      font-size: 1.2rem;
    }
  
    .paragraph {
      font-size: 0.9rem;
    }
  
    .doctorMessageContainer img {
      max-width: 80%;
      height: auto;
      margin: 0 auto;
    }
  }
  