@keyframes appear {
    from {
        opacity: 0.2;
        transform: scale(0.2);
        transform: translate(100px);
        /* clip-path: inset(0 0 100% 100%); */
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
        /* clip-path: inset(0 0 0 0); */
    }
}

#intro-img {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


/* -------------------------------------------------------Feedback section-------------------------------------------------------- */

.container-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    overflow-x: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.container div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    flex: none;
}

.container div img {
    width: 100%;
}

#link-to-services{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 950px) {

    #home-sec-2-title,
    #home-sec-3-title,
    #home-sec-4-title,
    #home-sec-5-title,
    #home-sec-6-title
    {
        padding: 10px 0;
        font-size: 2.25rem;
    }

    #home-sec-2-title{
        padding: 20px 0;
    }
    #home-sec-3 {
        flex-direction: column;
        padding: 30px 8px;
        gap: 20px;
        width: 100%;
    }

    #home-sec-5 {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 10px 0;
    }

    .founder-left {
        width: 100%;
        margin: 20px 0;
    }

    .founder-msg-title,
    .inv-comma {
        font-size: 12vw;
    }
    #intro-img{
        padding: 0 20px;
    }
}

@media (max-width: 750px) {
    
    #home-sec-3-text{
        width: 100%;
        padding: 0 20px;
    }

    #link-to-services {
        display: flex;
        align-items: center;
        justify-content: center
    }

    #service-card{
        transform: scale(0.9);
    }
    #home-sec-4{
        padding:40px 20px;
    }



} 